<a href="https://colab.research.google.com/github/lyadav44/data690_fall22/blob/main/Assignment_3/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assigment 3
  **Submitted by Laxmi Yadav(AP07297)**

In [2]:
import random

- Write a program that generates 100 random integers between 0 and 9.

 Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):

In [3]:
size=10

In [4]:
for i in range(size):
  for j in range(size):
    print(random.randint(0,9), end=" ")
  print("\n")

9 3 1 8 0 0 9 9 5 2

0 1 1 3 5 8 4 8 1 9

8 6 7 7 8 2 7 5 3 6

8 9 5 1 8 9 1 3 1 6

8 8 2 4 8 7 7 1 7 8

0 6 4 3 8 1 0 0 3 3

9 3 8 8 4 7 6 3 4 2

1 3 5 6 7 1 8 3 1 3

2 8 4 0 9 9 2 2 1 8

1 8 8 7 1 6 6 1 1 3

- If the random number is an odd number, print "@" instead. like the following:

In [5]:
for i in range(size):
  for j in range(size):
    num=random.randint(0,9)
    if(num%2==0):
      print(num, end=" ")
    else:
      print("@", end=" ")
  print("\n")

@ 0 2 @ 8 @ @ 4 @ 4

@ @ @ @ 8 2 @ @ @ @

8 @ @ 2 @ 8 @ @ 4 8

0 4 0 6 @ 6 0 4 4 @

4 @ 8 @ 2 4 @ 6 @ 6

@ @ 8 6 4 0 @ 0 @ @

0 @ 6 @ 4 2 0 @ @ @

@ @ @ @ @ @ @ @ 4 @

@ @ @ @ @ @ 6 4 @ 6

4 @ @ 8 6 @ @ @ 0 @

- Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [13]:

for i in range(size):
  sum=0
  for j in range(size):
    rd= random.randint(0,9)
    sum=sum+ rd
    print(rd, end=" ")
  print("*",sum)

6 2 3 5 9 7 2 4 9 0 * 47
7 1 4 4 5 2 3 1 0 9 * 36
5 0 8 9 3 8 8 2 6 0 * 49
1 9 3 7 7 6 0 8 0 5 * 46
1 6 9 6 8 9 6 0 9 9 * 63
7 3 2 7 1 3 9 6 1 9 * 48
8 7 4 9 5 2 0 8 9 9 * 61
5 3 3 4 3 0 9 7 2 5 * 41
9 3 4 8 9 2 5 1 8 9 * 58
5 1 6 1 5 7 6 0 4 9 * 44

- Surround the matrix with asterisks (*) like the following:

In [6]:
print("***********************")
for i in range(size): 
  print("*", end=" ")
  for j in range(size):
   print(random.randint(0,9), end=" ")
  print("*")
print("***********************")

***********************
* 8 1 1 0 2 2 2 3 7 0 *
* 1 3 4 3 0 8 6 2 6 5 *
* 4 4 3 8 3 8 0 7 5 7 *
* 3 3 4 3 7 7 7 5 0 2 *
* 1 5 0 9 8 7 5 7 9 9 *
* 6 8 3 3 3 3 8 8 6 1 *
* 8 6 9 6 8 2 7 2 2 5 *
* 9 6 4 5 9 2 7 0 3 7 *
* 1 9 0 5 4 7 9 1 1 8 *
* 5 9 6 4 8 5 1 1 6 0 *
***********************

- Calculate and Print the total of each row and column like the following:

In [7]:
sum = 0
list = []
for i in range(size):
    ls = []
    sum = 0
    for j in range(size):
        rd = random.randint(0,9)
        sum = sum + rd
        ls.append(rd)
        print(rd, end = ' '*2)
    print("*", sum)
    list.append(ls)
# print(list)
#transpose the matrix to print the sum for the column
trans = []
for i in range(len(list[0])):
    row = []
    for sublist in list:
        row.append(sublist[i])
    trans.append(row)
# print(trans)
for i in range(size):
    print("*", end = ' '*2)
print(' ')
for i in range(len(trans[0])):
    s1 = 0
    for j in trans[i]:
        s1 = s1 + j
    print(s1, end = ' ')

7  5  6  1  0  7  4  6  5  3  * 44
4  8  0  6  3  0  8  3  1  3  * 36
1  6  2  5  9  0  2  0  1  7  * 33
1  2  3  1  0  2  6  1  5  1  * 22
4  1  3  0  1  9  1  8  0  2  * 29
4  5  3  9  0  6  9  5  2  2  * 45
2  8  5  0  3  6  5  1  9  5  * 44
9  3  4  9  8  8  9  7  5  6  * 68
4  0  1  1  2  0  4  9  3  4  * 28
0  6  3  2  4  0  4  0  1  6  * 26
*  *  *  *  *  *  *  *  *  *
36 44 30 34 30 38 52 40 32 39