<a href="https://colab.research.google.com/github/lyadav44/data690_fall22/blob/main/Assignment_1/DATA690_FirstClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data 690 Session 1  in-class practice

- Name: Laxmi Yadav
- Date: 9/1/22

In [ ]:
print("hello world")

hello world

In [ ]:
print("My name", "is laxmi")

My name is laxmi

In [ ]:
age = 30
name = "laxmi"
print("My name is", name, ", my age is",age)

My name is laxmi , my age is 30

In [ ]:
print("My name is "+ name +", my age is",age)

My name is laxmi, my age is 30

In [ ]:
print("My name is "+ name +", my age is " + str(age))

My name is laxmi, my age is 30

In [ ]:
age = "30"
print("My name is "+ name +", my age is " + age)

My name is laxmi, my age is 30