<a href="https://colab.research.google.com/github/lyadav44/data690_fall22/blob/main/Assignment_2/Data690_Session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data690: Session 2  9/8/22

In [10]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"
print("birth year of student", years)

birth year of student 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [11]:
type(years) #to know type of the variable

str

In [12]:
years_list= years.split(" ")

In [13]:
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [14]:
y = [2, 4,12, -7, 11, 6]

In [15]:
total=0
for number in y:
    total= total + number

print(total)

28

In [16]:
print("the size of the lengh", len(y))

the size of the lengh 6

In [17]:
print("the ave of y is", total/len(y))

the ave of y is 4.666666666666667

In [18]:
years_list[0]

'1/11/1997'

In [19]:
removed_one = years_list.pop(0) #to drop the particular item using index
years_list

['1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [23]:
from datetime import date

current_year = date.today().year
print(current_year)
total = 0
for birthyear in years_list:
    age= current_year - int(birthyear) 
    total+=age
print(total)

2022
578

In [24]:
print("average age", total/len(years_list))

average age 26.272727272727273